<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myVehicle" class="springDemo.vehicles.Car">
        <constructor-arg ref="discount">
            
        </constructor-arg>
    </bean>

    <bean id="discount" class="springDemo.vehicles.FestiveDiscountImpl">

    </bean>

</beans>