<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="vehicle.properties"/>

    <bean id="myVehicle" class="springDemo.xmlbased.vehicles.Car" scope="prototype">
        <!--        <constructor-arg ref="discount">-->
        <!--            -->
        <!--        </constructor-arg>-->
        <property name="discountService" ref="discount"/>
        <property name="brandName" value="Skoda"/>
        <property name="mrp" value="${vehicle.mrp}"/>
    </bean>

    <bean id="myVehicle2" class="springDemo.xmlbased.vehicles.Bus">
        <constructor-arg ref="discount">

        </constructor-arg>
        <property name="brandName" value="Benz"/>
        <property name="mrp" value="${vehicle.mrp}"/>
    </bean>

    <bean id="discount" class="springDemo.xmlbased.vehicles.FestiveDiscountImpl">

    </bean>

</beans>