<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/test</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">419650</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>

        <!-- Hibernate properties -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>

        <mapping class="core.hibernateExmpl.Student"/>

    </session-factory>
</hibernate-configuration>
